@font-face {
    font-family: "Orbitron";
    src: url(../fonts/Orbitron-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Orbitron";
    src: url(../fonts/Orbitron-Regular.ttf);
    font-weight: 400;
}